/* body {
  background: url('C:\Users\Jimmy\Desktop\cs2250 final hw\MY-APP\public\fire.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  background: #6883BC;
  text-align: center;
}

.square {
  background: #79A7D3;
  color: #8A307F;
  border: 1px solid black;
  float: left;
  font-size: 100px;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 100px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.status {
  font-size: 25px;
  color: #8A307F;
  margin-bottom: 10px;
  font-weight: bold;
}

.game-info button {
  background: #79A7D3;
  color: #8A307F;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-weight: bold;
  color: #8A307F;
  margin-bottom: 5px;
}


/* @media only screen and (max-width: 600px) {
  body {
    background: #6883BC;
  }
  
  .square {
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    width: 50px;
  }
  
  .status {
    font-size: 20px;
  }
  
  .game-info button {
    font-size: 14px;
  }
}
 */
